@import "tailwindcss";

@theme inline {
  /* --color-foreground: var(--foreground); */
}

@theme {
  --color-background: #fafafa;
  /* --color-accent: #c084fc; */
  --color-accent: #9B5DE5;
  --color-accent-hover: #9333ea;
  --color-title-color: #171717;
  --color-subtitle-color: #6b7280;
  --color-content: #364153;
  --color-grey-1: #e5e5e5;
  --color-grey-2: #D4D4D4;
  --color-grey-3: #A1A1A1;
  --color-grey-4: #A0A0A0;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --text: #ededed;
    --sub-text: #a3a3a3;
    --accent: #c292eb;
    --accent-hover: #d1aaf2;
  }
} */


body {
  background: #F0F0F0;
  color: var(--text);
}

@layer components {
  .section {
    @apply h-full p-4 md:p-6 mb-10;
  }

  .section-heading {
    @apply tracking-wider text-xl md:text-2xl font-bold text-title-color mb-2;
  }
}