@import "tailwindcss";

@theme inline {
  /* --color-foreground: var(--foreground); */
}

/* --color-accent: #c084fc; */
@theme {
  --color-background: #fafafa;
  --color-accent: #9B5DE5;
  --color-accent-hover: #9333ea;
  --color-title-color: #171717;
  --color-subtitle-color: #6b7280;
  --color-content: #364153;
  --color-grey-1: #e5e5e5;
  --color-grey-2: #D4D4D4;
  --color-grey-3: #A1A1A1;
  --color-grey-4: #A0A0A0;
  --animate-send: sending 1s infinite;
}

.light {
  --color-background: #fafafa;
  --color-accent: #9B5DE5;
  --color-accent-hover: #9333ea;
  --color-title-color: #171717;
  --color-subtitle-color: #6b7280;
  --color-content: #364153;
  --color-grey-1: #e5e5e5;
  --color-grey-2: #D4D4D4;
  --color-grey-3: #A1A1A1;
  --color-grey-4: #A0A0A0;
  --animate-send: sending 1s infinite;
}

.dark {
  --color-background: #0f0f0f;
  --color-accent: #9B5DE5;
  --color-accent-hover: #7c3aed;
  --color-title-color: #f3f4f6;
  --color-subtitle-color: #9ca3af;
  --color-content: #d1d5db;
  --color-grey-1: #2d2d2d;
  --color-grey-2: #3f3f3f;
  --color-grey-3: #525252;
  --color-grey-4: #6b7280;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --text: #ededed;
    --sub-text: #a3a3a3;
    --accent: #c292eb;
    --accent-hover: #d1aaf2;
  }
} */


body {
  background: #F0F0F0;
  color: var(--text);
}

@layer components {
  .section {
    @apply h-full p-4 md:p-6 mb-10;
  }

  .section-heading {
    @apply tracking-wider text-xl md:text-2xl font-bold text-title-color mb-2;
  }

  .btn-normal {
    @apply cursor-pointer inline-flex items-center gap-2 bg-accent hover:bg-accent-hover text-white font-medium tracking-wider text-sm md:text-base px-6 py-3 rounded-full shadow-sm transition-all
  }

  .btn-small {
    @apply cursor-pointer inline-flex items-center gap-2 bg-accent hover:bg-accent-hover text-white font-medium text-sm md:text-base px-4 py-2 rounded-full shadow-sm transition-all
  }

  .form-label {
    @apply absolute md:-top-3 -top-2 left-5 md:text-base text-sm bg-background px-1 z-10 font-medium text-content;
  }

  .form-input {
    @apply w-full h-full border-[1.5px] md:border-2 border-grey-2 rounded-md p-5 bg-transparent text-content placeholder:text-sm focus:outline-none focus:border-green-400 invalid:focus:border-rose-500
  }
}

@keyframes sending {
  50% {
    transform: translateX(.2rem);
  }
}